.container
    {
        display : flex;
        flex-direction: column;
        align-items : center;

    }
.line
    {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
.square0, .square1
    {
        width: 60px;
        height: 60px;
    }